<template>
    <v-card
        outlined>
        <v-list-item three-line>
            <v-list-item-content>
                <v-list-item-title class="text-h5 mb-1">
                    {{item.title}}
                </v-list-item-title>
                <v-list-item-subtitle>{{item.description}}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar
                tile
                size="80"
                color="grey"
            ></v-list-item-avatar>
        </v-list-item>

        <v-card-actions>
            <v-btn
                outlined
                rounded
                depressed
                @click="update"
                text
            >
                Edit
            </v-btn>

            <v-btn
                rounded
                depressed
                @click="remove"
                color="error"
            >
                Remove
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: "Item",
    props: {
        item: {
            required: true
        }
    },
    computed: {
        items() {
            return this.$store.getters.getItems
        }
    },
    methods: {
        async remove() {
            let response = await this.$store.dispatch('remove', this.item.id)
            alert.$emit('alert', response)
            if(response.success) this.$store.dispatch('getAll')
        },
        update() {
            alert.$emit('update_item', this.item)
        }
    },
}
</script>
