<template>
    <div>
        <v-dialog
            v-model="dialog"
            persistent
            max-width="600px"
        >
            <v-card>
                <v-card-title>
                    <span class="text-h5">Add item</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col
                                cols="12">
                                <v-text-field
                                    label="Title"
                                    name="title"
                                    v-validate="'required'"
                                    v-model="item.title"
                                ></v-text-field>
                                <span class="text-danger">{{ errors.first('title') }}</span>
                            </v-col>
                            <v-col
                                cols="12">
                                <v-text-field
                                    v-validate="'required'"
                                    name="desc"
                                    v-model="item.description"
                                    label="Description"
                                ></v-text-field>
                                <span class="text-danger">{{ errors.first('desc') }}</span>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="blue darken-1"
                        text
                        @click="dialog = false"
                    >
                        Close
                    </v-btn>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="update"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>

</template>

<script>
export default {
    name: "Update",
    data() {
        return {
            dialog: false,
            item: {
                title: '',
                description: ''
            }
        }
    },
    methods: {
        async update() {
            let response = await this.$store.dispatch('update', this.item)
            alert.$emit('alert', response)
            this.dialog = false
            if(response.success) this.$store.dispatch('getAll')
        }
    },
    created() {
        alert.$on('update_item', data => {
            this.item = data
            this.dialog = true
        })
    }
}
</script>
